
<section class="account-section" >
  <!-- <div class="container" style="position: absolute">
    <div class="sidenav">
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a>
    </div>
  </div> -->

  <div class="wrapper">
    <!--Top menu -->
    <div class="sidebar" style="border-radius:9px">
      <ul style=" list-style-type: none; padding-left: 0px;">
        <li class="accounti">
        
            <!-- <span class="icon"><i class="fas fa-desktop"></i></span> -->
            <span class="item">Account</span>
        
        </li>
        <li>
          <a routerLink="/panel/deposit">
            <!-- <span class="icon"><i class="fas fa-desktop"></i></span> -->
            <span class="item">Charge wallet</span>
          </a>
        </li>
        <li>
          <a routerLink="/panel/library">
            <!-- <span class="icon"><i class="fas fa-user-friends"></i></span> -->
            <span class="item">MyLibrary</span>
          </a>
        </li>
        <li>
          <a routerLink="/panel/bookmarks">
            <!-- <span class="icon"><i class="fas fa-tachometer-alt"></i></span> -->
            <span class="item">BookMarks</span>
          </a>
        </li>
        <li>
          <a href="#">
            <!-- <span class="icon"><i class="fas fa-database"></i></span> -->
            <span class="item">Discounts & Scores</span>
          </a>
        </li>
        <li>
          <a routerLink="/panel/transactions">
            <!-- <span class="icon"><i class="fas fa-chart-line"></i></span> -->
            <span class="item">Transaction List</span>
          </a>
        </li>
        <li>
          <a href="#" >
            <!-- <span class="icon"><i class="fas fa-user-shield"></i></span> -->
            <span class="item">Device management</span>
          </a>
        </li>
        <li>
          <a routerLink="/panel/profile">
            <!-- <span class="icon"><i class="fas fa-cog"></i></span> -->
            <span class="item">Edit Uset Info</span>
          </a>
        </li>
        <li>
          <a routerLink="/reset">
            <!-- <span class="icon"><i class="fas fa-cog"></i></span> -->
            <span class="item">Change Password</span>
          </a>
        </li>
        <!-- <li>
          <a href="#">
           
            <span class="item">Log Out</span>
          </a>
        </li> -->

      </ul>
    </div>
  </div>


  <div class="container-fluid" style="margin-top:90px;margin-bottom: 90px;margin-left: 70px; width: 65%">


    <div class="account-wrapper">
      <div class="section-header">
        <h2 class="title">{{token == null ? 'Retrive Password' : 'Change Password'}}</h2>
        <p *ngIf="!isSend">{{token == null ? 'Please Enter With Your Email Or Username'
          : 'Please Enter New Password'}}
        </p>
      </div>

      <ng-container *ngIf="!isSend">
        <ng-container *ngIf="token == null">
          <form [formGroup]="userForm" (ngSubmit)="onClickSendMail()" class="password-form">
            <div class="form-group mt-4">
              <label for="username"><i class="icon icon-user-o"></i></label>
              <input [ngClass]="{invalid: userF['username'].touched && userF['username'].invalid}"
                formControlName="username" type="text" id="username" placeholder="Username or Email">
            </div>
            <small *ngIf="userF['username'].touched && userF['username'].invalid">
              enter username
            </small>

            <button class="btn btn-success mt-4" type="submit" appClickRippleEffect
              [disabled]="userForm.invalid">send</button>
          </form>
        </ng-container>

        <ng-container *ngIf="token != null">
          <form [formGroup]="passForm" (ngSubmit)="onClickChangePassword()" class=password-form>

            <div class="form-group mb-30">
              <label for="newPass"><i class="icon icon-lock"></i></label>
              <input [ngClass]="{invalid: passF['newPass'].touched && passF['newPass'].invalid}"
                formControlName="newPass" [type]="isShowPass ? 'text' : 'password'" id="newPass"
                placeholder="New Password">
              <span class="pass-type">
                <i class="icon" [ngClass]="{'icon-eye': !isShowPass, 'icon-eye-slash': isShowPass}"
                  (click)="toggleShowPass()">
                </i>
              </span>
            </div>
            <small *ngIf="passF['newPass'].touched && passF['newPass'].invalid">
              {{passF['newPass']?.value?.length > 0 ? 'password must be at least 6 character' : ' Enter New Password'}}
            </small>

            <div class="form-group mb-30">
              <label for="conPass"><i class="icon icon-lock"></i></label>
              <input [ngClass]="{invalid: passF['conPass'].touched && passF['conPass'].invalid}"
                formControlName="conPass" [type]="isShowPass ? 'text' : 'password'" id="conPass"
                placeholder="Confirm Password">
              <span class="pass-type">
                <i class="icon" [ngClass]="{'icon-eye': !isShowPass, 'icon-eye-slash': isShowPass}"
                  (click)="toggleShowPass()"></i>
              </span>
            </div>
            <small *ngIf="passF['conPass'].touched && passF['conPass'].invalid">
              {{passF['conPass']?.value?.length > 0 ? 'Confirm Password is not like password' : 'Enter Confirm Password'}}
            </small>

            <button class="btn btn-success mt-4" type="submit" appClickRippleEffect
              [disabled]="passForm.invalid">send</button>
          </form>
        </ng-container>

      </ng-container>

      <div *ngIf="isSend" class="message mt-5">
        <p>{{message}}</p>
        <button *ngIf="token != null" class="btn btn-success" appClickRippleEffect routerLink="/login">ورود با
          حساب</button>
      </div>

    </div>

  </div>
</section>
