<!-- <section class="account-section">
    <div class="container-fluid">
      <div class="account-wrapper">
        <div class="left-side">
          <div class="section-header">
            <h2 class="title">ورود به حساب</h2>
            <p>برای ورود نام کاربری و رمز عبور خود را وارد نمایید</p>
          </div>
  
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="form-group mb-30">
              <label for="userName"><i class="icon icon-user-o"></i></label>
              <input [ngClass]="{invalid: f['userName'].touched && f['userName'].invalid}"
                     formControlName="userName" type="text" id="userName" placeholder="Username">
            </div>
            <small *ngIf="f['userName'].touched && f['userName'].invalid">نام کاربری را وارد نمایید</small>
  
            <div class="form-group mb-30">
              <label for="pass"><i class="icon icon-lock"></i></label>
              <input [ngClass]="{invalid: f['pass'].touched && f['pass'].invalid}"
                     formControlName="pass" [type]="isShowPass ? 'text' : 'password'" id="pass"
                     placeholder="Password">
              <span class="pass-type">
                    <i class="icon" [ngClass]="{'icon-eye': !isShowPass, 'icon-eye-slash': isShowPass}"
                       (click)="toggleShowPass()"></i>
                  </span>
            </div>
            <small *ngIf="f['pass'].touched && f['pass'].invalid">پسورد را وارد نمایید</small>
  
    
   
            <div class="form-group text-right mt-4 captcha">
              <a routerLink="/resetPassword">رمز عبور را فراموش کرده اید؟</a>
            </div>
  
            <button class="btn btn-primary mt-4" type="submit" appClickRippleEffect >ورود به حساب</button>
          </form>
  
        </div>
        <div class="right-side cl-white">
          <div class="section-header mb-0">
            <h3 class="title mt-0">هنوز حساب کاربری ندارید؟</h3>
            <p>حساب جدید ایجاد کنید و وارد شوید.</p>
            <button routerLink="/register" class="btn btn-secondary" appClickRippleEffect>ایجاد حساب</button>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  <div class="main">
    <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
            <a href="#" class="signup-image-link">Create an account</a>
          </div>
  
          <div class="signin-form">
            <h2 class="form-title">Sign in</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register-form" id="login-form">
              <div class="form-group">
                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input [ngClass]="{invalid: f['userName'].touched && f['userName'].invalid}" formControlName="userName"
                  type="text" name="your_name" id="your_name" placeholder="User Name" />
              </div>
              <small *ngIf="f['userName'].touched && f['userName'].invalid">نام کاربری را وارد نمایید</small>
  
              <div class="form-group">
                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                <input [ngClass]="{invalid: f['pass'].touched && f['pass'].invalid}" formControlName="pass"
                  [type]="isShowPass ? 'text' : 'password'" name="your_pass" id="your_pass" placeholder="Password" />
              </div>
              <small *ngIf="f['pass'].touched && f['pass'].invalid">پسورد را وارد نمایید</small>
  
              <div class="form-group">
                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
              </div>
              <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
              </div>
            </form>
            <div class="social-login">
              <span class="social-label">Or login with</span>
              <ul class="socials">
                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>