<router-outlet></router-outlet>

<!-- <ng-template #logoutTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Log Out</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="logoutModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do you want log out of your account?</p>
    <button type="button" class="btn-model btn btn-sm btn-primary" (click)="logout(true)">Log out</button>
    <button type="button" class="btn-model btn btn-sm btn-negative mr-3" (click)="logout(false)">Cancel</button>
  </div>
</ng-template> -->

<!-- <ng-template #imageTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Profilr Picture</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="imageModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>What do you want to do?</p>
    <button type="button" class="btn-model btn btn-sm btn-success" (click)="editProfileImage()">
      {{accountService.profileInfo.profileImageName?.length > 0 ? 'تغییر' : 'افزودن'}}
    </button>
    <button *ngIf="accountService.profileInfo.profileImageName?.length > 0" type="button"
      class="btn-model btn btn-sm btn-danger mr-3" (click)="deleteProfileImage()">Delete
    </button>
    <button type="button" class="btn-model btn btn-sm btn-negative mr-3" (click)="imageModalRef.hide()">Cancel</button>
  </div>
</ng-template> -->